@*
The main entry point of Ore. This page displays a list of Projects that can be
sorted according to different criteria.
*@
@import scala.util.Random

@import controllers.sugar.Requests.OreRequest
@import ore.models.project.{Project, Version, VersionTag}
@import ore.models.user.User
@import ore.models.project.ProjectSortingStrategy
@import ore.OreConfig
@import models.querymodels.ProjectListEntry
@import views.html.utils.alert
@import views.html.helper.CSPNonce
@import ore.data.Platform
@import ore.data.PlatformCategory
@import ore.data.project.Category
@import db.impl.access.ProjectBase
@(visibleCategories: Option[Seq[Category]], query: Option[String], page: Int,
        sort: ProjectSortingStrategy, platformName: Option[String],
        orderWithRelevance: Boolean)(implicit messages: Messages, flash: Flash,
        request: OreRequest[_], config: OreConfig)

@randomSponsor = @{
    val logos = config.sponge.sponsors

    val index = new Random().nextInt(logos.size)
    logos(index)
}

@scripts = {
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/projectList.js")"></script>
    <script @CSPNonce.attr>
    PROJECTS_PER_PAGE = @config.ore.projects.initLoad;
    START_URL = '/';
    DEFAULT_SORT = '@ProjectSortingStrategy.Default.apiName';

    relevance = @orderWithRelevance;
    sort = '@sort.apiName';
    @query.map { q =>
        query = '@q';
    }
    @platformName.map { name =>
        tags = ['@name'];
    }
    @visibleCategories.map { cats =>
        categories = @Html(cats.map(c => s"'${c.apiName}'").mkString("[", ",", "]"));
    }
    page = @page;
    </script>
}

@meta = {
    <meta property="og:title" content="@messages("general.appName")">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@config.app.baseUrl">
    <meta property="og:image" content="@routes.Assets.versioned("images/ore-dark.png")" />
    <meta property="og:description" content="@messages("general.description")" />
}

@bootstrap.layout(messages("general.title"), scripts, additionalMeta = meta) {

    <!-- Header -->
    <div class="index-header">
        <div class="row centered-content-row">
            <div class="col-md-9 ore-banner">
                <div class="row aligned-row">
                    <div class="col-xs-2 ore-logo">
                        <img src="@routes.Assets.versioned("images/ore-colored.svg")" />
                    </div>
                    <div class="col-xs-10 text">
                        <div class="headline">Ore</div>
                        <div>A Minecraft package repository</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 sponsor">
                <div class="panel sponsor-panel">
                    <span>Sponsored by</span>
                    <div class="panel-body">
                    @defining(randomSponsor) { sponsor =>
                        <a href="@sponsor.link">
                            <img class="logo" src="@routes.Assets.versioned(sponsor.image)" />
                        </a>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>

   <!-- Main content -->
    <div class="row project-content">
        <!-- Project table -->
        <div class="col-md-9">
            <div class="project-search form-group">
                <label class="sr-only" for="searchQuery">Search projects</label>
                <input id="searchQuery" type="text" class="form-control" placeholder="Search in projects...">
            </div>

            @if(query.isDefined) {
                <li class="list-group-item minor search-header">
                    <span class="pull-left">Showing results for: <i>@query</i></span>
                    <span class="dismiss pull-right"><i class="fas fa-times fa-1x"></i></span>
                    <div class="clearfix"></div>
                </li>
            }

            <div class="project-container">

                <div class="loading">
                    <i class="fas fa-spinner fa-spin"></i>
                </div>

                <ul class="list-group project-list"></ul>

                <ul class="pagination"></ul>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-3">
            <!-- Ordering selection -->
            <select class="form-control select-sort">
                <option selected value="@sort.apiName">@sort.title</option>
                @ProjectSortingStrategy.values.filterNot(_.equals(sort)).map { strategy =>
                    <option value="@strategy.apiName">@strategy.title</option>
                }
            </select>

            <div>
                <input type="checkbox" id="relevanceBox" name="orderWithRelevance" @if(orderWithRelevance) { checked="checked" }>
                <label for="relevanceBox">Sort with relevance</label>
            </div>

            <!-- Category table -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@messages("project.category.plural")</h3>
                    <a id="clearCategories" @if(visibleCategories.isEmpty) {hidden}>
                        <i class="category-reset fas fa-times white"></i>
                    </a>
                </div>

                <div class="list-group category-list">
                @for(category <- Category.visible) {
                    <a data-apiname="@category.apiName" class="list-group-item @if(visibleCategories.isDefined && visibleCategories.get.contains(category)){active}">
                        <i class="fas fa-fw @category.icon"></i>
                        <strong>@category.title</strong>
                    </a>
                }
                </div>
            </div>

            <!-- Platform list -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@messages("general.platform")</h3>
                </div>

                <ul id="platformCats" class="list-group">

                    <a data-tagname="any" class="list-group-item @if(platformName.isEmpty) { active }">
                        <strong>@messages("general.any")</strong>
                    </a>

                    @for(pc <- PlatformCategory.getPlatformCategories) {
                        <a data-tagname="@pc.getPlatforms.headOption.fold("error")(_.name)" class="list-group-item @if(platformName.getOrElse("") == pc.tagName) { active }">
                            <strong>@pc.name</strong>
                        </a>

                        @defining(pc.getPlatforms) { platforms =>
                            @if(platforms.size > 1) {
                                @for(p <- platforms) {
                                    <a data-tagname="@p.name" class="list-group-item @if(platformName.getOrElse("") == p.name) { active }">
                                            &nbsp;@p.name
                                    </a>
                                }
                            }
                        }
                    }
                </ul>
            </div>

        </div>
    </div>

}
