<!--
  ~ Copyright (C) 2009-2016 Lightbend Inc. <https://www.lightbend.com>
  -->
<!-- The default logback configuration that Play uses if no other configuration is provided -->
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] %coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="play" level="WARN" />
    <logger name="application" level="DEBUG" />

    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Sentry -->
    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <dsn>${SENTRY_DSN}</dsn>
    </appender>
    <root level="warn">
        <appender-ref ref="Sentry"/>
    </root>

    <!-- Ore loggers -->
    <logger name="Bootstrap" level="WARN" />
    <logger name="Discourse" level="WARN" />
    <logger name="Database"  level="WARN" />
    <logger name="DataHelper" level="WARN" />
    <logger name="PGP" level="WARN" />
    <logger name="Mailer" level="WARN" />
    <logger name="SpongeAuth" level="WARN" />
    <logger name="Permissions" level="WARN" />
    <logger name="UserSync" level="WARN" />
    <logger name="Organizations" level="WARN" />
    <logger name="SSO" level="WARN" />
    <logger name="ProjectTask" level="WARN" />
    <!--<logger name="slick" level="DEBUG" />-->

</configuration>
