@import java.text.NumberFormat

@import controllers.project.routes
@import controllers.sugar.Requests.OreRequest
@import models.viewhelper.{ProjectData, ScopedProjectData}
@import ore.OreConfig
@import security.NonceFilter._
@import models.user.User

@(p: ProjectData, sp: ScopedProjectData, users: Seq[User], page: Int, pageSize: Int)(implicit messages: Messages, request: OreRequest[_], flash: Flash, config: OreConfig)

@columns = @{
    3
}

@projects.view(p, sp, "") {
    <div class="container">
        @for(div <- 0 until columns) {
            <div class="col-md-4">
            @users.iterator.zipWithIndex.filter(_._2 % columns == div).map(_._1).map { user =>
                <div class="panel">
                    <div class="media">
                        <div class="media-left">
                            @views.html.utils.userAvatar(
                                userName = Some(user.name),
                                avatarUrl = user.avatarUrl,
                                clazz = "user-avatar-sm media-object"
                            )
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">@user.name</h3>
                        </div>
                    </div>
                </div>
            }
            </div>
        }

        @if(p.project.starCount >= pageSize || page > 1) {
            <div class="pull-right">
                @if(page > 1) {
                    <a href="@routes.Projects.stargazers(p.project.ownerName, p.project.name, Some(page - 1))" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
                }
                @if(p.project.starCount > pageSize * page) {
                    <a href="@routes.Projects.stargazers(p.project.ownerName, p.project.name, Some(page + 1))" class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
                }
            </div>
        }
    </div>
}