@import db.ModelService
@import db.impl.access.UserBase
@import models.project.{Channel, Project}
@import ore.OreConfig
@import security.NonceFilter._
@import views.html.helper.{CSRF, form}
@import views.html.utils
@import models.viewhelper.ProjectData

@* TODO make sure channel list is sorted before going into template *@

@(p: ProjectData, channels: Seq[(Channel, Int)])(implicit messages: Messages, flash: Flash, request: Request[_],
        service: ModelService, config: OreConfig, users: UserBase)

@projectRoutes = @{controllers.project.routes.Projects}
@channelRoutes = @{controllers.project.routes.Channels}
@versionRoutes = @{controllers.project.routes.Versions}

@bootstrap.layout(messages("channel.list.title", p.p.ownerName, p.p.slug), p.global) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/channelManage.js")"></script>
    <script nonce="@nonce">
        PROJECT_OWNER = '@p.p.ownerName';
        PROJECT_SLUG = '@p.p.slug';
        $(function() {
            initChannelManager(
                    "#channel-new", "", "@config.defaultChannelColor.hex", "New channel",
                    "@channelRoutes.create(p.p.ownerName, p.p.slug)",
                    "post", "Create channel", false
            );
        });
    </script>

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@messages("channel.list.title")</h3>
                    </div>
                    <div class="panel-body">
                        <p class="minor create-blurb">
                            @messages("channel.list.description")
                        </p>

                        @utils.alert("error")

                        <table class="table no-border centered">
                            <tbody>
                                @channels.map { channel =>
                                    <tr>
                                        <td>
                                            <div class="channel" style="background-color: @channel.color.hex">@channel._1.name</div>
                                        </td>
                                        <td>
                                            <div class="btn btn-sm yellow" data-toggle="modal" data-target="#channel-settings" id="channel-edit-@channel._1.id">Edit</div>
                                        </td>
                                        @if(channels.size > 1) {
                                            <td>
                                                <div class="btn btn-sm yellow"
                                                    @if(channel._2 > 0) {
                                                        id="channel-delete-@channel._1.id" data-toggle="modal"
                                                        data-target="#modal-delete">
                                                    } else {
                                                        id="channel-delete-@channel._1.id.get" data-channel-delete="safe-delete"
                                                        data-channel-id="@channel._1.id.get">

                                                        @form(action = channelRoutes.delete(
                                                            p.p.ownerName, p.p.slug, channel._1.name),
                                                            'id -> s"form-delete-${channel._1.id.get}",
                                                            'class -> "form-channel-delete") {
                                                            @CSRF.formField
                                                        }
                                                    }
                                                Delete
                                                </div>
                                            </td>
                                        }
                                  </tr>
                                    <script nonce="@nonce">
                                      $(function() {
                                          initChannelDelete('#channel-delete-@channel._1.id', '@channel._1.name', @channel._2);
                                          initChannelManager(
                                                  "#channel-edit-@channel._1.id", "@channel._1.name", "@channel._1.color.hex",
                                                  "Edit channel", "@channelRoutes.save(
                                                    p.p.ownerName, p.p.slug, channel._1.name)",
                                                  "post", "Save changes", @channel._1.isNonReviewed
                                          );
                                      });
                                  </script>
                                }
                            </tbody>
                        </table>
                        <a href="@versionRoutes.showList(p.p.ownerName, p.p.slug, None, None)"
                           class="pull-left btn btn-default">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a href="#" id="channel-new" class="pull-right btn btn-primary"
                           @if(channels.size >= config.projects.get[Int]("max-channels")) {
                               disabled data-toggle="tooltip" data-placement="left"
                               title="@messages("channel.edit.maxReached")"
                           } else {
                               data-toggle="modal" data-target="#channel-settings"
                           }
                        >
                            <i class="fa fa-plus"></i>
                        </a>
                        @projects.channels.helper.modalManage()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="label-delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="@messages("general.close")">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="label-delete">@messages("channel.delete")</h4>
                </div>
                <div class="modal-body">
                    <p>@messages("channel.delete.info")</p>
                    <p class="minor">
                        <strong class="version-count"></strong> <i>@messages("channel.delete.info.versions")</i>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @messages("channel.delete.close")
                    </button>
                    <form method="post" action="#" class="form-channel-delete">
                        @CSRF.formField
                        <button type="submit" class="btn btn-danger">@messages("channel.delete")</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

}
